* {
  font-family: Arial;
  font-color: #999999
  }
p {
  text-align: center;
  font-size: 60px;
}
body {
  background-image: url("background.jpg");
  width: auto;
}

.timer {
  background-color: #d8d8d8;
  width: auto;
  height: auto;
}
