* {
  font-family: Arial;
  }
p {
  text-align: center;
  font-size: 60px;
}

body {
  background-image: url("background.jpg");
  background-width: auto;
}

#pass_timer {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width: auto;
}

#norm_timer {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width: auto;
}

#current_time {
	font-size: 45px;
}
#date_confirm {
  color: green;
}

#time_confirm {
  color: red;
}

#acknowledgement {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  width: auto;
  text-align: center;
}
